.form {
  width: 80%;
  margin: 2rem auto;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form input {
  display: block;
  width: 100%;
  font: inherit;
  font-size: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #ddd;
  margin-bottom: 0.5rem;
}
.form input:focus {
  outline: none;
}

.form button {
  width: 100%;
  font: inherit;
  background-color: #fff;
  border: 1px solid #000;
  color: #201d0f;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover,
.form button:active {
  background-color: rgb(113, 113, 113);
  border: 1px solid rgb(113, 113, 113);
  color: #fff;
}
